---
---

@import "{{ site.theme }}";

// ----- GLOABAL -----

.wrapper {
  max-width: 750px;
}

#header nav {
  background: none;
  max-width: 750px;
}

// ----- POST PAGE -----

.site-title {
  margin-bottom: 0;
}

.site-description {
  font-style: italic;
}

.post-credits-left {
  float: left;
}

.post-credits-right {
  float: right;
}

.post-bar {
  margin-top: 10px;
  margin-bottom: 5px;
}

.post-title {
  float: left;
  margin: 0;
}

.post-date {
  float: right;
  margin: 0;
}

.post-categories {
  float: left;
  font-style: italic;
}

.post-header {
  max-width: 750px;
}

img[alt=MegaMan], img[alt=BubbleMan], img[alt=AirMan],
img[alt=QuickMan], img[alt=HeatMan], img[alt=WoodMan],
img[alt=MetalMan], img[alt=FlashMan], img[alt=CrashMan] { 
  max-width: 70px; 
}

// ----- DASHBOARD PAGE -----

.dashboard-section {
  margin-top: 10px;
  max-width: 750px;
}

.dashboard-header {
  margin: 0;

  .dashboard-bar {
    margin: 0 0 40px 0;
  }
}

.dashboard-title {
  margin: 0 0 5px 0;
  text-align: left;
  color: #229954;
}

.dashboard-description {
  margin: 0 0 10px 0;
  font-style: italic;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 200px 550px;
  grid-template-rows: auto;
  grid-template-areas: 
    "header header"
    "picture content"
    "posts posts"
    "buffer buffer"
    "footer footer";
}

.dashboard-container-header {
  color: #229954;
  grid-area: header;
  padding-bottom: 20px;
  justify-self: center;
  text-decoration: underline;
}

.dashboard-container-picture {
  grid-area: picture;
}

.dashboard-container-content {
  grid-area: content;
}

.dashboard-container-footer {
  grid-area: footer;
  justify-self: right;
}

.dashboard-container-posts {
  padding: 30px 0 0 0;
  grid-area: posts;
  justify-self: center;
}

.dashboard-blog-title {
  color: #229954;
}

.dashboard-container-bar {
  grid-area: buffer;
  margin: 40px 0 5px 0;
}
