<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

{% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
    <script src="{{ '/assets/js/respond.js' | relative_url }}"></script>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <!--[if lt IE 8]>
    <link rel="stylesheet" href="{{ '/assets/css/ie.css' | relative_url }}">
    <![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

  </head>
  <body>
    <div class="wrapper">
      <section class="dashboard-section">
        <div class="dashboard-header">
          <h1 class="dashboard-title"><em>{{ site.title }}</em></h1>
          <h3 class="dashboard-description">{{ site.description }}</h3>
          <hr class="dashboard-bar">
        </div>
        <div class="dashboard-container">
          <h1 class="dashboard-container-header"><em>Welcome everyone</em></h1>
          <figure class="dashboard-container-picture">
            <img src="/assets/mm-green.jpg" style="max-width: 150px;"
            alt="Adam" />
          </figure>
          <span class="dashboard-container-content">
            {{ content }}
          </span>
          <span class="dashboard-container-posts">
            <h3 class="dashboard-blog-title">Blog Posts</h3>
            <ul>
              {% for post in site.posts %}
              <li>
                <a href="{{ post.url }}">{{ post.month }} {{ post.day }}, {{ post.year }} -- {{ post.title }}</a>
              </li>
              {% endfor %}
            </ul>
          </span>
          <hr class="dashboard-container-bar">
          <h4 class="dashboard-container-footer">
            tweet <a href="{{ site.twitter.url }}">{{ site.twitter.username }}</a>
            &nbsp;&nbsp;&sol;&nbsp;&nbsp;
            github <a href="{{ site.github.url }}">{{ site.github.username }}</a>
            &nbsp;&nbsp;&sol;&nbsp;&nbsp;
            <a href="mailto:{{ site.email }}">{{ site.email_short }}</a>
          </h4>
        </div>
      </section>
    </div>
  </body>
</html>
